{% extends 'main/base.html' %}

{% block content %}
<div class="container-fluid pt-5">
    <div class="row justify-content-around">
        <div class="col-12 col-md-7 col-lg-3">
            <form class="validate-form" method="post">
                <p class="w-100 text-center m-0">С возвращением на</p>
                <h1 class="text-center mt-2">Web-p</h1>
                {% csrf_token %}
                <form method="POST" action="#">
                    {% csrf_token %}
                    {{form.as_p }}
                    <button type="submit" class="btn btn-primary float-right btn-block">Войти</button>
                </form>
            </form>
        </div>
    </div>
</div>

{% endblock %}
