{% extends 'main/base.html '%}

{% block title %}
Страница для написания постов
{% endblock %}

{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-6">
                 <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-dark">Написать пост</h1>
                </div>
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <div class="container py-lg-3">
                        <div class="row md-6">
                            <div class="col-md-6 p-2 py-4 offset-md-3 border border-2 rounded shadow-sm row justify-content-center">
                                <div class="col-md-8">
                                    {% for f in form %}
                                    <p><label class="form-label" for="{{f.id_for_label}}">{{f.label}}:</label>{{f}}</p>
                                    <div class="form-error">{{form.title.errors}}</div>
                                    {% endfor %}
                                    <button class="btn btn-primary my-3" type="sumbit">Опубликовать</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <p class="py-3">
                    <a href="{% url 'home' %}" class="btn btn-outline-secondary my-2">На главную</a>
                </p>
            </div>
        </section>
    </main>
{% endblock %}