{% extends 'main/base.html '%}
{% load static %}
{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <main>
        <section class="py-5 container">
            <div class="row py-lg-6">
                <form method="post">
                    {% csrf_token %}
                    {% if posts %}
                        <div class="container row justify-content-center">
                            <div class="col-md-10 p-2 py-4 row justify-content-center">
                            <div class="col-5 offset-md-1"><p class="fs-3 text-break">Читайте и создавайте</p></div>
                            <div class="col-3">
                                <p class="fs-6">
                                    <a href="{% url 'create_post' %}" class="btn btn-outline-primary my-2">Написать пост</a>
                                </p>
                            </div>
                        </div>
                        {% for el in posts %}
                            <div class="col-md-10 p-2 py-4 border border-2 rounded shadow-sm row justify-content-center">
                                <div class="row"><p class="fs-5 text-break"><button class="btn btn-light" style="padding:0" type="submit" name="post" value="{{el.id}}">{{el.header}}</button></p></div>
                                <div class="row">
                                    <p class="fs-6 text-break text-end">
                                        <img src="{% static 'card.jpg' %}" width="16" height="16">
                                        <button class="btn btn-light" style="padding:0" type="submit" name="user" value="{{el.author.id}}">{{el.author}}</button> {{el.date}}
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% else %}
                        {% if user.is_authenticated %}
                            <h1> К сожалению, ещё никто не писал посты. Напишите первым!</h1>
                            <a href="{% url 'home' %}" class="btn btn-outline-primary my-2">Написать пост</a>
                        {% else %}
                            <h1> К сожалению, ещё никто не писал посты. Зарегистрируйтесь и напишите первым!</h1>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
        </section>
    </main>
{% endblock %}