{% extends 'main/base.html '%}
{% load static %}
{% block title %}
Страница одного поста
{% endblock %}
{% block content %}
    <main>
        <section class="py-5 text-center container">
            <div class="col-md-6 p-2 py-4 offset-md-3 border border-2 rounded shadow-sm">
                <div class="row">
                    <div class="col">
                        <div>
                            <h1 class="fw-dark">{{post.header}}</h1>
                            <p>{{post.content}}</p>
                            <p>{{post.author}}</p>
                            <p>{{post.date}}</p>
                            {% if user.is_authenticated %}
                                <div class="dropdown">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <p><label class="form-label" for="{{form.content.id_for_label}}">{{form.content.label}}:</label>{{form.content}}</p>
                                        <div class="form-error">{{form.content.errors}}</div>
                                        <button class="btn btn-primary my-3" type="sumbit">Написать комментарий</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6 p-2 py-4 offset-md-3 border border-2 rounded shadow-sm">
                {% for comment in comments %}
                    <p>{{comment.content}}</p>
                    <p>{{comment.author}}</p>
                    <p>{{comment.date}}</p>
                {% endfor %}
             </div>
        </section>
    </main>
{% endblock %}